body {
  align-items: center;
  background-color: #e97f06;
  height: 100vh;
  justify-content: center;
  z-index: 0;
}

h1 {
  text-align: center;
  padding: 23px;
  background-color: lightgrey;
  color: white;
}

#cl {
  width: 275px;
  border: 3px solid gray;
  border-radius: 20px;
  padding: 20px;
  background-color: gray;
}

.calc_form_style {
  width: 290px;
  height: 550px;
  margin: auto;
  border: 3px solid black;
  border-radius: 20px;
  padding: 20px;
  z-index: 1;
}

input {
  width: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  border: 3px solid black;
  border-radius: 15px;
  padding: 26px;
  margin: 5px;
  font-size: 15px;
}

#calc {
  width: 235px;
  border: 5px solid black;
  border-radius: 20px;
  padding: 20px;
  margin: auto;
  font-size: 25px;
}